@tailwind base;
@tailwind components;
@tailwind utilities;

#dash-first {
    margin-top: 0px;
    height: 300px;
}

#dash-sec {
    margin: 0;
    padding: 0;
    height: auto;
    height: 300px;
}

.selected-emoji {
    transform: scale(1.4);
    transition: transform 0.5s ease-in-out;
}

#text-entry {
    margin-left: 0px; 
}

#submitEmotion {
    margin-top: 8px; 
    margin-left: auto; 
    margin-right: auto;
    display: block; 
}

#dash-sec {
    margin: 0;
    padding: 0;
    /* height: auto; */
    height: 400px;
}

#openAI-response {
    margin: 50px;
    padding: 0;
    height: auto;
    /* height: 0px; */
}

.mt-2 {
    /* margin-top: 0px;  */
    /* background-color: red; */
    /* width: 10px; */
    height: 90px;
    /* border-radius: 50%; */
    /* display: inline-block; */
}


